*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

:root {
  --light-blue: 280, 70%, 65%;
  --ocean-blue: 240, 80%, 45%;
  --dark-navy: 260, 50%, 10%;
  --green-success: 150, 70%, 35%;
  --red-error: 10, 75%, 45%;
}

body {
  margin: 0;
}

.container {
  background-image: url("images/background-image.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lg-container {
  --color: hsl(var(--dark-navy), .7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 40px 30px;
  width: 80%; 
  max-width: 600px; 
  border-radius: 20px;
}

.title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-container label {
  color: white;
  font-weight: lighter;
}

.input-container input {
  font-size: 1.25rem; 
  padding: .5em; 
  background-color: hsl(var(--light-blue), .3);
  border: none;
  outline: none;
  border-radius: .25em;
  color: white;
  font-weight: lighter;
}

.input-container.success input {
  box-shadow: 0 0 0 1px hsl(var(--green-success));
}

.input-container.error input {
  box-shadow: 0 0 0 1px hsl(var(--red-error));
}

.input-container input:focus {
  box-shadow: 0 0 0 1px hsl(var(--ocean-blue)); 
}

.input-container .msg {
  display: none;
  font-size: .75rem;
}

.input-container.success .msg,
.input-container.error .msg {
  display: block;
}

.input-container.error .msg {
  color: hsl(var(--red-error));
}

.input-container.success .msg {
  color: hsl(var(--green-success));
}

.login-button {
  padding: .5em 1em;
  font-size: 1.5rem;
  font-weight: lighter;
  color: white;
  background-color: hsl(var(--ocean-blue), .25);
  border: 1px solid hsl(var(--ocean-blue));
  border-radius: .25em;
  outline: none;
  cursor: pointer;
}

.login-button:hover,
.login-button:focus {
  background-color: hsl(var(--ocean-blue), .4);
}


